<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="stylo.css">
    <title> FindPray </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
  </head>
  <body>
    <div class="w3-cell-row">
      <div class="w3-container w3-cell">
        <div class="w3-cell-top">
          <h6>City</h6>
          <input class="w3-input" id="city" type="text">
        </div>
        <br>
        <div class="w3-cell-mid">
          <h6>Country</h6>
          <input class="w3-input" id="country" type="text">
        </div>
        <br>
        <button class="w3-btn w3-round w3-blue w3-cell-bottom" id="submit"> Submit! </button>
      </div>
      <div class="w3-container w3-cell">
        <h3 id="fajr">Fajr: </h3>
        <h3 id="dhuhr">Dhuhr: </h3>
        <h3 id="asr">Asr: </h3>
        <h3 id="maghrib">Maghrib: </h3>
        <h3 id="isha">Isha: </h3>
      </div>
    </div>
    <script src="../handlers/main.js"></script>
  </body>
</html>