<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home | Findpray</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/stylo.css">
</head>

<body>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#duhur">Overview</a></li>
            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#asr">Fajr</a></li>
            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#maghirb">Duhur</a></li>
            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Asr</a></li>
            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-1">Maghirb</a></li>
            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-5">Isha</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" role="tabpanel" id="asr">
                <p>Content for tab 1.</p>
            </div>
            <div class="tab-pane active" role="tabpanel" id="duhur">
                <p>Content for tab 2.</p>
            </div>
            <div class="tab-pane" role="tabpanel" id="maghirb">
                <p>Content for tab 3.</p>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-3">
                <p>Tab content.</p>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-1">
                <p>Tab content.</p>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-2">
                <p>Tab content.</p>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-4">
                <p>Tab content.</p>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-5">
                <p>Tab content.</p>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
